service: dental-bot

provider:
  name: aws
  runtime: nodejs6.10
  region: eu-west-1
  memorySize: 128
  environment: ${file(env.yml)}

functions:
  scrape:
    handler: handler.scrape
     events:
      - schedule: rate(5 minutes)